node_modules/
screenshots/
tools/
*.zip
minesweeper/
img.h
main.cpp
start_sandbox.sh
strt.sh
do_captures.js
update_game.py
package.json
package-lock.json
assets/
!polytesseract/assets/
!polytesseract/assets/**
!polycube/polytesseract/assets/
!polycube/polytesseract/assets/**
/web/
